<div class="off-canvas">
    <ul>
        <li><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="{{ path_for('product-lines') }}">Product Lines</a></li>
        <li><a href="{{ path_for('catalog') }}">Catalog</a></li>
        <li><a href="{{ path_for('sales-reps') }}">Sales Reps</a></li>
        <li><a href="{{ path_for('contact') }}">Contact Us</a></li>
    </ul> 
</div>
